[2014-06-09 13:17] opensas opened #1 "Error installing from .deb on elementaryOS (ubuntu 12.04)"
I just issued

[code]

And I get the following error when trying to run it:

[code]

tested on elementaryOS luna

[code]

Also tried with the tar.gz version, and got the following error:

[code]

[2014-06-09 13:43] realbardia commented on #1
Hi...
We generated sigram packages on ubuntu 14.04.
We will fix this problem soon.
Thank you for reporting.

[2014-06-09 14:22] opensas commented on #1
Just to confirm, just tested it on ubuntu 14.04 and it worked like a charm (running it from the tar.gz gives me "This application failed to start because it could not find or load the Qt platform plugin "xcb")

[2014-06-09 14:58] realbardia commented on #1
You should run tar package with run (shell script file) or before execute Sigram binary file you should set this environment variable:
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:<directory-path>/libs"

[2014-06-09 15:12] opensas commented on #1
thanks, it worked great

On Mon, Jun 9, 2014 at 11:58 AM, Bardia notifications@github.com wrote:

[2014-06-09 16:34] angelbladex opened #2 "Add readme.md how compile"
Readme.md required instructions for compile. ^_^

[2014-06-09 17:00] angelbladex opened #3 "Wrong flag for Venezuela"
Hi!

The flag of Venezuela have 8 stars, the flags/ve.png have seven stars.

[2014-06-09 18:42] realbardia commented on #3
Hi...
Thank you for reporting. I'll fix it soon.

[2014-06-09 18:42] realbardia commented on #2
Hi....
Yes :D I'll add it soon...

[2014-06-09 19:26] realbardia commented on #3
Fixed on github and on the binary packages soon.
You can also report this problem on the https://github.com/lipis/flag-icon-css project.
Because flags icons taken from flag-icon-css project.

[2014-06-09 19:46] angelbladex opened #4 "undefined symbol: EVP_idea_cbc"
I got this error
"... symbol lookup error: /usr/lib/libssl.so.1.0.0: undefined symbol: EVP_idea_cbc" after type ./run on ArchLinux 32 bits

Installed
openssl =>1.0.1.h-1
glibc ==> 2.19-5

ldd Sigram | grep ssl
    libssl.so.1.0.0 => /usr/lib/libssl.so.1.0.0

[2014-06-09 20:06] realbardia commented on #4
Thank you for reporting.
I'll check it and fix it soon.

[2014-06-09 20:07] #3 closed, assigned to realbardia

[2014-06-09 22:30] edu791 opened #5 "Where are the translation files in the source?"
I'd like to help on the Spanish translation, but I don't know where are the translation strings files.

[2014-06-09 23:31] rafaelmr2 opened #6 "Can't run on Fedora 20"
Fedora uses libcrypto.so.1.0.1e, I created a link libcrypto.so.1.0.0. I installed the package qt5-qtdeclarative. When I tried to run Sigram I had the message :

[code]

[2014-06-10 06:54] rhoconlinux opened #7 "Bug: executing permissions on Sigram file"
I think this is why the stuff is not working anywhere.
You missed the chmod +x /opt/sialan/sigram/Sigram :)
Cheers!

ps. after that, no problems in Ubuntu.

[2014-06-10 07:02] rhoconlinux opened #8 "Bug: execution symbolic links"
In addition to the executing permissions (unavoidable fix in order to make it work) you also may need to add some symbolic links to the bin folder in order to make the launcher work.
After adding execution permissions to Sigram, you can do this to make it work out-of-the-box.
<code>
sudo ln -s /opt/sialan/sigram/Sigram /usr/bin/ && sudo ln -s /usr/bin/Sigram /usr/bin/sigram
</code>
Cheers.

[2014-06-10 07:05] realbardia commented on #4
You can also install sigram from AUR until we fix the bug:
https://aur.archlinux.org/packages/sigram-git/

[2014-06-10 07:12] realbardia commented on #8
Thank you... We will adding this symlinks on the next binary packages.

[2014-06-10 07:13] realbardia commented on #5
We are working on translation system. tonight or tomorrow we will release a version that support translations.

[2014-06-10 07:20] realbardia commented on #7
What version of packages you use? We fixed this problem on the last binary packages (Released 12 hourse ago) :/

[2014-06-10 07:56] rhoconlinux commented on #7
Well, just installed. 0.53 deb package for 64 bits. The problem persist in that package. ^_^

[2014-06-10 10:08] hotice commented on #7
This issue does not occur for me with the 0.53 deb package on Ubuntu 64bit. It was a fresh install for me though.

[2014-06-10 10:22] hotice commented on #1
The fix/work-around mentioned above works in Ubuntu 13.10 but not in Ubuntu 12.04 (tested in Ubuntu 12.04 64bit):

[code]

Ubuntu 12.04 uses libc6 version 2.15.

[2014-06-10 10:33] hotice opened #9 "Gear button does nothing"
In a chat, there's a gear icon/button in the top right corner. What is that button supposed to do? Because currently it doesn't do anything when clicked for me.

Tested in Ubuntu 14.04 64bit.

[2014-06-10 11:23] realbardia commented on #9
It should showing configure dialog. But I don't know why it doesn't work on some systems!
Anyway We are working on it. thank you for reporting.

[2014-06-10 11:39] Pablohn26 commented on #6
I have not had problems with it.
ls /lib64/libcrypto*
libcryptopp.so.6      libcryptopp.so.6.0.0  libcrypto.so          libcrypto.so.10       libcrypto.so.1.0.1e

[2014-06-10 11:42] Pablohn26 commented on #5
I would suggest transifex.com :)

[2014-06-10 11:55] Pablohn26 commented on #2
For Fedora 20:
--Install dependencies
yum install qt-creator qt5-qtbase qt5-qtbase-devel qt5-qtdeclarative qt5-qtquick1 qt5-qtquick1-devel kde-plasma-applicationname kde-plasma-nm qt5-qtdeclarative-devel qt5-qtdeclarative-static qt5-qtgraphicaleffects

--generate makefile
/bin/qmake-qt5 -o Makefile SialanTelegram.pro

--compile
make

--run
./SialanTelegram

[2014-06-10 13:44] realbardia commented on #5
Thank you :)

[2014-06-10 15:26] angelbladex commented on #4
Hi @realbardia , i installed from AUR and i got this error on console, but prefer report other issue .

[2014-06-10 15:34] angelbladex opened #11 "QQmlApplicationEngine failed to load component"
Bad new: I installed sigram vía AUR on Archlinux ( https://github.com/sialan-labs/sigram/issues/4#issuecomment-45580343  ) and got

QQmlApplicationEngine failed to load component
qrc:///main.qml:21 module "QtGraphicalEffects" is not installed

God Notice:
the icon of sigram appear on systray (but crash if choose any option after got error)

UPDATE: Sigram require qt5-graphicaleffects on Archlinux.

[2014-06-10 15:55] angelbladex opened #12 "option for add contacts"
Sigram require a option for add contacts from application.

[2014-06-10 16:15] realbardia commented on #11
Thank you...

[2014-06-10 16:16] #11 closed, assigned to nobody

[2014-06-10 16:17] realbardia commented on #12
This option exists on the core of the sigram. but not on UI. I hope we can add this feature to the UI soon.

[2014-06-10 16:42] angelbladex commented on #12
Al least work for me. Don't forget add too option for change avatar profile.

[2014-06-10 17:12] realbardia commented on #5
Translations feature added. You can find files on the https://github.com/sialan-labs/sigram/tree/master/translations_sources and edit translation with qt linguist application.

[2014-06-10 17:13] realbardia commented on #9
Bug fixed on git repository and on binary packages soon.

[2014-06-10 17:19] realbardia commented on #12
Changing avatar needs more times. But we will add this feature certainly.

[2014-06-10 19:49] #4 closed, assigned to realbardia

[2014-06-10 19:51] #5 closed, assigned to realbardia

[2014-06-10 20:06] lipis commented on #3
I updated my project as well.. thanks!

[2014-06-10 21:16] rafaelmr2 commented on #6
I tried with "./run" and not "./Sigram" and works. Sorry about this! :P

[2014-06-10 21:16] #6 closed, assigned to realbardia

[2014-06-11 05:58] Asfhy opened #14 "Special Characters on Messages"
Messages with HTML Special chatacters as "<" or "&" get cutted down. There should be a "filter" to escape those characters before showing the message on Screen to prevent it showing incomplete.

[2014-06-11 07:06] realbardia commented on #14
Fixed.
Thank you for reporting.

[2014-06-11 07:06] #14 closed, assigned to realbardia

[2014-06-11 07:16] #9 closed, assigned to realbardia

[2014-06-11 17:13] angelbladex opened #15 "Dont load "Show" after click "About" or "About Sialan" on systray icon"
If you choose option on systray icon "About" and after "Show", dont load "Show", this appear too if try use "About Sialan" option. If Choose "License" after "About" or "About Sialan", show rarely "License".

[2014-06-11 19:37] silberzwiebel commented on #2
Hey, followed your instructions, also on Fedora 20. Compilation works, but sigram won't start:

[code]

package `qt5-qtquickcontrols` is installed ...

[2014-06-11 19:58] Pablohn26 commented on #2
are qt5-qtquick1 and qt5-qtquick1-devel installed?

[2014-06-11 19:59] realbardia commented on #2
What version of Qt installed? 5.0, 5.1, 5.2 or 5.3?

[2014-06-11 20:00] silberzwiebel commented on #2
@Pablohn26 yes.
@realbardia seems to be 5.2.1

[2014-06-11 20:04] Pablohn26 commented on #2
Here I leave all the packages that I have installed (only in relation with qt5)
qt5-qtbase.x86_64
qt5-qtbase-devel.x86_64
qt5-qtbase-gui.x86_64
qt5-qtbase-ibase.x86_64
qt5-qtbase-mysql.x86_64
qt5-qtbase-odbc.x86_64
qt5-qtbase-postgresql.x86_64
qt5-qtbase-tds.x86_64
qt5-qtdeclarative.x86_64
qt5-qtdeclarative-devel.x86_64
qt5-qtdeclarative-static.x86_64
qt5-qtgraphicaleffects.x86_64
qt5-qtquick1.x86

[2014-06-11 20:04] realbardia commented on #2
Ok... Qt 5.2 does now support QtQuick.Controls 1.2.
I changed QtQuick.Controls version to 1.0 and push it to git repository. You can pull it now.
I think it should fix problem.

[2014-06-11 20:12] realbardia commented on #15
Thank you for reporting. fixed :)

[2014-06-11 20:17] Pablohn26 commented on #2
No problem here with
Version     : 5.2.1
Release     : 1.fc20

[2014-06-11 20:46] silberzwiebel commented on #2
Works for me now, thank you.
I have put the instructions in here to the README, so this issue can be closed.

[2014-06-11 21:05] realbardia commented on #2
Thank you. I also add instructions for ubuntu.

[2014-06-11 21:05] #2 closed, assigned to realbardia

[2014-06-12 03:56] DenJohX opened #19 "Change background?"
I see in the website an example of the chat window with a background, but mine is just black.

Using 0.5.2 on Debian Testing 64bits

[2014-06-12 04:09] DenJohX commented on #19
sorry, just installed 0.5.4, now the settings are working and there is an option for background change :+1:

[2014-06-12 04:38] realbardia commented on #19
Its good to hear that :)

[2014-06-12 04:39] #19 closed, assigned to nobody

[2014-06-12 05:00] #15 closed, assigned to realbardia

[2014-06-12 08:50] silberzwiebel opened #20 "sending image: sigram crashes"
When I try to send a jpg-image to a group chat, sigram crashes:

[code]

[2014-06-12 11:15] realbardia commented on #20
Thank you for reporting.
Fixed :)

[2014-06-12 11:15] #20 closed, assigned to realbardia

[2014-06-12 11:19] hotice commented on #1
The Sigram debs would at least work in Ubuntu 13.10 (and 14.04) if they were built in Ubuntu 13.10... Possibly, if they are built in Ubuntu 12.04, they might work with all newer Ubuntu versions.

[2014-06-12 12:06] realbardia commented on #1
I'm downloading Ubuntu 12.04 currently. When downloading finished, I'll create packages that works on older Linux too. (Maybe tonight or tomorrow morning)

[2014-06-12 13:13] opensas commented on #1
great! just let us know so we can test it

On Thu, Jun 12, 2014 at 9:06 AM, Bardia notifications@github.com wrote:

[2014-06-12 20:27] asoliverez opened #22 "Crash when switching connections"
I have an Ethernet and a wifi connection (with different routers).
When I switch from one to the other, sigram will crash.

I use networkmanager and kde 4.13. I'm usually on both Ethernet and wifi (with Ethernet being the main connection), but occasionally I have to wander off and disconnect the eth cable and then wifi becomes active. Then, sigram will silently shutdown. If I restart it, when I re

[2014-06-13 05:33] realbardia commented on #1
Packages updated. please check new packages. I compiled packages using 12.04.
http://labs.sialan.org/projects/sigram

[2014-06-13 05:34] realbardia commented on #8
Symlinks added to last binary packages (0.5.5).
Thank you :)

[2014-06-13 05:34] #8 closed, assigned to realbardia

[2014-06-14 05:32] #1 closed, assigned to realbardia

[2014-06-15 12:40] silberzwiebel opened #23 "no icon under gnome-shell"
I don't see any icon when I use sigram under gnome-shell 3.12, Fedora 20. Neither a tray icon, nor any other icons.

Did I missed something while installing? I just compiled the newset source code with `make`

[2014-06-15 14:49] ghost commented on #23
it works for me on gnome 3.12 on f20, cinnamon also works just in xfce i don't see a tray icon.

[2014-06-15 15:45] silberzwiebel commented on #23
ok, somehow the tray icon appeared. I did this, not sure, what's the most important line here:

[code]

After that I restarted the GNOME Shell and saw the icon for the first time. So it seems not to be an issue of sigram, but of my GNOME setup.

[2014-06-15 15:45] #23 closed, assigned to realbardia

[2014-06-17 14:32] sl1pkn07 opened #25 "Select own avatar not working"
hi

the select own avatar not working

steps
- go to options
- click in the avatar

test with latest git
Qt5 5.3.0

greetings

[2014-06-17 14:38] sl1pkn07 opened #26 "systray menu disappears when put cursor over the options"
hi

when open program menu in systray, this disappears when move the mouse over the options. only working if put cursor over "exit" option, if put cursor over "license" or the rest of options, the menu disappears

test with latest git
Qt5 5.3.0

greetings

[2014-06-17 14:50] KAMiKAZOW opened #27 "Set Ctrl-Q for Quit"
Pressing Ctrl-Q does not quit Sigram.

[2014-06-17 14:53] KAMiKAZOW opened #28 "No StatusNofifier in KDE Systray"
Under KDE Plasma Sigram uses the traditional XEmbed-based tray icon, not a modern StatusNotifier one (StatusNotifier is the protocol used by Ubuntu under Unity as well).

[2014-06-17 17:36] kuni93 opened #29 "Not support chinese input ?"
Not support chinese input with gcin/hime

[2014-06-17 18:28] unclechu opened #30 "Segfault after compile from git"
[code]

[code]

[code]

[code]

"Ошибка сегментирования" means "Segmentation fault".

[2014-06-17 19:43] realbardia commented on #30
There is a file (tg-server.pub) in the source directory. Copy 'tg-server.pub' to the install path.

[2014-06-17 20:44] marcos-mestre opened #31 "System tray icon invisible in flashback session"
I've just installed the Sigram client on my Ubuntu Trusty (14.04) with gnome-flashback-session. At first I didn't see the tray icon, but then I discovered it. The icon was there, but as a little white point. Can you fix it?
Thank you!
![image](http://i.imgur.com/5N8AQqf.jpg)

[2014-06-18 08:24] unclechu commented on #30
[code]

[code]

[2014-06-18 08:44] realbardia commented on #30
QtQuick 2.2 supported on Qt5.2 and Qt5.3.
I changed QtQuick 2.2 to QtQuick 2.0 in the repository to better compability. Please update source and try again.

[2014-06-18 11:00] angelbladex commented on #31
This is my icon on lxde

![icon](https://cloud.githubusercontent.com/assets/847922/3312735/b2426e02-f6d7-11e3-9889-560cb198b789.png)

[2014-06-18 13:09] marcos-mestre commented on #31
Yes, I know that it also works fine on Unity. I don't understand the problem with Gnome Flashback.

[2014-06-19 01:37] ghost opened #32 "Notifications settings"
Hello. It would be very nice, if you made it possible to manage the notifications. Like turn them off or just mark the app icon with different color. Thank you!

[2014-06-19 02:07] eguevara2012 opened #33 "Could not find or load the Qt platform plugin "xcb""
Hello!
I trying install Sigram in Ubuntu 12.04 but get this error:

[code]

The folder of Siagram:

[code]

Runnig command ldd:

[code]

The output:

[code]

What plugin is missing?
Thanks!

[2014-06-19 09:27] silberzwiebel commented on #31
The icon is missing most of the time under GNOME shell 3.12, fedora 20, too. But since other icons are missing, too, I consider this more an GNOME bug....

[2014-06-19 10:05] realbardia commented on #31
Its because sigram use appindicator lib for systray icon on unity.
Please set DESKTOP_SESSION env to "ubuntu" and give me back result.
export DESKTOP_SESSION=ubuntu
If works fine ,I'll using appindictor on gnome too.

[2014-06-19 10:08] realbardia commented on #32
Hello
Yes, this is good idea.
I promise you we will make many improvment on notifications system soon.
Thank you...

[2014-06-19 10:09] #30 closed, assigned to realbardia

[2014-06-19 10:10] realbardia commented on #22
I'm working on it and will fix it soon.
Thank you for reporting.

[2014-06-19 10:14] realbardia commented on #28
If you have libappindicator installed on your system, When you set DESKTOP_SESSION to ubuntu, sigram using unity tray icon system instead.
export DESKTOP_SESSION=ubuntu

[2014-06-19 10:15] realbardia commented on #28
We will add some features to change system tray method in the future.
Thank you for reporting

[2014-06-19 10:18] realbardia commented on #29
I don't using chinese input gcin/hime yet.
I'll testing it and give you back results.

[2014-06-19 12:04] silberzwiebel opened #34 "sending file does not work with recently used files"
I tried to send a file to a group chat. I'm using GNOME shell 3.12. When picking the file under the "recently used" part of the file browser, sigram seems to do something (progress bar loads), but the file does not get send to the chat. When picking the same file by browsing to its location, the file gets published correctly.

[2014-06-19 12:56] marcos-mestre commented on #31
I tried closing the app, setting the variable DESKTOP_SESSION to ubuntu, running the app again, but the icon doesn't apears yet.
BTW, I don't know if it's important, but I do have an appindicat applet in the panel.

[2014-06-19 15:18] Dodoheimer commented on #33
Hi,

im using Xubuntu 14.04 32bit and i have the same error:

"This application failed to start because it could not find or load the Qt platform plugin "xcb".

Reinstalling the application may fix this problem.
Abgebrochen (Speicherabzug geschrieben)"

I hope you can help by this problem :)

[2014-06-19 20:58] lotherk opened #35 "Crash on Debian Jessie after entering code (Assertion '0' failed)"
This happens to me on debian jessie with the ubuntu deb package and also the static linux binary (64bit versions)

It works well until I enter the confirmation code. After entering the code I get:

error #500: INTERDC_1_CALL_ERROR
sigram: ../sialan-telegram/telegram/telegram_cli/queries.c:608: fail_on_error: Assertion `0' failed.
[1]    10911 abort      sigram

[2014-06-20 19:28] luisalvarado commented on #33
This is happening in both, 32 Bit and 64 Bit versions of Ubuntu. I have installed all QT libraries related to xcb just in case Ubuntu did not bring them by default and still the bug is there. I also used ldd and even when it shows them as available:

[code]

The app does not work. After adding the "-r" parameter I got this:

undefined symbol: _ZN20QPlatformIntegration16openGLModuleTypeEv (./libqxc

[2014-06-21 03:43] TaylanTatli commented on #31
There is no tray icon on mate desktop too.

[2014-06-21 08:13] realbardia commented on #35
This error show when you entered wrong phone number or some thing like that.
I'll check it and fix it soon. thank you for reporting.

[2014-06-21 08:16] realbardia commented on #33
Please set LD_LIBRARY_PATH env to "/opt/sialan/sigram/libs/" and run it again. I think sigram can't find Qt5.3 libraries that are in the /opt/sialan/sigram/libs/.
export LD_LIBRARY_PATH="/opt/sialan/sigram/libs/"

[2014-06-21 11:40] tglman opened #36 "Crahs on Debian sid on system suspend restore"
After a suspend restore, operating on the window it make it crash !
from the log i get:

[code]

this is reproduced building from source on the master branch at the commit 8695964e7cb5665400d42010b4ed6ac3f4b3e836

may have to add an issue on telegram_cli?

[2014-06-21 13:54] silberzwiebel opened #37 "own profile picture is not shown"
sigram does not show my own profile picture. When I use another client, the picture is shown. My picture can also be seen by other users.

[2014-06-21 14:56] luisalvarado commented on #33
That worked. Should be easily solvable on the next update.

[2014-06-21 21:44] eguevara2012 commented on #33
Hi!
According to Ubuntu documentation(https://help.ubuntu.com/community/EnvironmentVariables#A.2BAC8-etc.2BAC8-environment):

[code]

I create a  /etc/ld.so.conf.d/sigram.conf file and put:

[code]

Then run:

[code]

The output:

[code]

That's fine, but sigram still not run.

[code]

Any idea?

[2014-06-21 22:49] DenJohX opened #38 "Limoo doesn't respond to window resize"
See a picture, resize window: Limoo gets messy.

Sigram 0.5.5 on Debian Testing

Cheers!
- DenJohX

[2014-06-22 09:44] lotherk commented on #35
Things I've entered were correct. The crash happend right after I've entered the confirmation code. I also did get a message to my telegram on the phone saying that a new client has been connected.
Thanks for looking into this. Thanks for your work, I'm sure once it runs on my system I'll enjoy it alot. :-) :+1:

[2014-06-22 09:49] realbardia commented on #36
Yes... This is telegram_cli bug. telegram_cli had many bugs like this. when network connection deactived, changed, system suspend or ... .
We handled many of them on Sigram, but many others like this bug not handled yet.
Thank you for reporting.

[2014-06-22 09:52] realbardia commented on #37
Yes... We have some problems on telegram_cli part of the sigram that can't get own user info completely.
We will fix it soon.
Thank you for reporting.

[2014-06-22 09:53] realbardia commented on #38
Ow...
Thank you for reporting. we will fix it soon.

[2014-06-22 11:59] unclechu commented on #30
Not it works, thank you.

[2014-06-23 13:11] lotherk commented on #35
It works when I compile sigram on my own, btw.

[2014-06-23 13:17] lotherk commented on #35
Now that I've compiled it, I also can use the binary from the deb package (as I've authorized the computer with the own compiled version)

[2014-06-23 19:37] marcos-mestre commented on #31
I've suffered a desktop swapping disease.
After uninstalling all the desktops, the telegram icon now appears on the systray of the flashback session. Seems that the problem was originated 'cause a missing package. Aparently.

[2014-06-24 00:45] cameri opened #39 "check_phone_on_error: Assertion `0' failed."
I'm getting the following error after typing my phone number and clicking the button to activate:

SialanTelegram: telegram/telegram_cli/queries.c:566: check_phone_on_error: Assertion `0' failed.
/usr/bin/sigram: line 3: 16147 Aborted                 (core dumped) ./SialanTelegram

[2014-06-25 19:16] marcos-mestre commented on #31
After rebooting the icon dissapears again. I don't understand why this is happening. Can I send you some additional info? What do you need?

[2014-06-26 10:15] silberzwiebel commented on #31
It's randomly (dis)appearing here, too. Maybe this message helps to debug?
`QXcbWindow: Unhandled client message: "_GTK_LOAD_ICONTHEMES"`

[2014-06-27 10:06] realbardia commented on #38
Bug fixed and pushed to github.

[2014-06-27 10:06] #38 closed, assigned to realbardia

[2014-06-27 10:09] realbardia commented on #27
Added and pushed to github.

[2014-06-27 10:09] #27 closed, assigned to realbardia

[2014-06-27 10:09] realbardia commented on #12
Added and pushed to github.

[2014-06-27 10:09] #12 closed, assigned to realbardia

[2014-06-27 12:45] silberzwiebel opened #41 "sigram segfaults after latest commit"
using your latest commit 2a16cd523132c79a9ee868f0864f5b7a1e18cb1f sigram doen'st start anymore. It gives a segfault.
Here is a run with gdb, let me know, if you need more info:

[code]

[2014-06-27 18:09] TaylanTatli commented on #41
i installed sigram-git from aur. previously it was working now givin segfaults.

[2014-06-29 01:44] realbardia commented on #41
Fixed

[2014-06-29 01:46] realbardia commented on #32
Features added on git repository...

[2014-06-29 01:46] #32 closed, assigned to realbardia

[2014-06-29 01:48] realbardia commented on #34
What is your linux distribution and system architecture? It's working on my system without problem :/

[2014-06-29 01:49] realbardia commented on #26
What distribution you use?

[2014-06-29 01:50] #28 closed, assigned to realbardia

[2014-06-29 01:53] realbardia commented on #37
I made some changes on source. I think the profile picture downloads failed and sigram try to load corrupted file. I added some codes to remove corrupted files on start.
If not working please check YOUR_HOME/.config/sialan/telegram/downloads and check is there any corrupted file?
Thank you

[2014-06-29 02:00] realbardia commented on #33
I added this file to source:
https://github.com/sialan-labs/sigram/blob/master/Sigram/run
It's a shell-script file that run sigram with LD_LIBRARY_PATH .

[2014-06-29 02:40] realbardia commented on #31
Ok...
First install libappindicator:
sudo apt-get install libappindicator1
then set:
export DESKTOP_SESSION=ubuntu
and last, run sigram
I installed gnome3 fallback mode. this method worked for me.

[2014-06-29 02:58] TaylanTatli commented on #41
and now i can't install it. :/

Makefile:467: recipe for target 'copydeploymentfolders' failed
make[1]: **\* [copydeploymentfolders] Error 1
make[1]: Leaving directory '/tmp/yaourt-tmp-doublet/aur-sigram-git/src/sigram-git-build/Sigram'
Makefile:38: recipe for target 'sub-Sigram-make_first-ordered' failed
make: **\* [sub-Sigram-make_first-ordered] Error 2

[2014-06-29 05:45] sl1pkn07 commented on #26
Archlinux & KDE

[2014-06-29 09:00] silberzwiebel commented on #37
It's not working for me. I don't see any corrupted files in the downloads folder...

[2014-06-29 10:25] silberzwiebel commented on #34
Ok, it works again for me. Don't know what was wrong...

[2014-06-29 10:25] #34 closed, assigned to realbardia

[2014-06-29 16:28] angelbladex commented on #25
i have same problem. My case is different on #37 , i dont have profile avatar on other devices because i dont have smartphone

[2014-06-29 17:39] tglman commented on #36
just tried to compile the last one from here, this is not happening anymore on my environment, i consider it close !
Reopen it if in other environments is still happening

[2014-06-29 17:39] #36 closed, assigned to realbardia

[2014-06-30 13:30] marcos-mestre commented on #31
Seems to work.
Can you changed it for not being necessary the custom value for that
variable?
Thank you.

Marcos Mestre

2014-06-28 23:40 GMT-03:00 Bardia notifications@github.com:

[2014-07-01 02:34] sl1pkn07 opened #43 "fail build: "make" target path same like source files"
log

http://sl1pkn07.no-ip.com/paste/view/1dd51849

with this "patch" solve the problem

sed -e "s/.target = ./.target = build/" -i Sigram/Sigram.pro

greetings

[2014-07-01 02:37] sl1pkn07 opened #44 "build 34e554b commit need tons off gnome/GTK2 stuff in KDE environment"
hi,

build 34e554b1b06836104a458204b520b5b76e6504ce commit need a tons of gnome/gtk stuff in kde environment

http://sl1pkn07.no-ip.com/paste/view/997521ea

==> libappindicator dependencies:
- gobject-introspection (already installed)
- pygtk (already installed)
- perl-xml-libxml (already installed)
- dbus-glib (already installed)
- libindicator-gtk2 (building from AUR)
- libdbusmenu-gtk2 (buildin

[2014-07-01 03:43] realbardia commented on #44
Currently no... But you can change "SUBDIRS += libs" Line from SialanTelegram.pro file to "//SUBDIRS += libs" to disable building appindicator module.

[2014-07-01 03:44] sl1pkn07 commented on #44
oks, thanks!

[2014-07-01 10:29] cippaciong commented on #43
Seems to be related to https://github.com/sialan-labs/sigram/issues/41
By the way, I gave the workaround a try and it worked for me too.

[2014-07-01 10:32] cippaciong commented on #41
@TaylanTatli
Look at https://github.com/sialan-labs/sigram/issues/43
I was able to create a working PKGBUILD and update the script in /usr/bin to start sigram. I already posted them on the AUR.
http://pastie.org/9342990
http://pastie.org/9342995

[2014-07-01 13:02] realbardia commented on #43
Thank you for reporting. fixed...

[2014-07-01 13:02] #43 closed, assigned to nobody

[2014-07-01 13:02] #44 closed, assigned to nobody

[2014-07-01 13:02] realbardia commented on #41
Thank you for reporting. fixed...

[2014-07-01 13:02] #41 closed, assigned to nobody

[2014-07-01 18:10] vrcca opened #45 "Connect through proxy [Ubuntu 14.04 x64]"
Hello,

I'm trying to use the application behind the company's proxy, but the application won't go past the first screen. It keeps "Connecting..." ad eternum.

Is there a way to connect through proxy?

Thanks!

[2014-07-02 04:05] TaylanTatli commented on #41
Thank you i able to install with your pkgbuilds. :)

[2014-07-02 04:07] TaylanTatli commented on #31
what about for Arch Mate?

[2014-07-02 18:20] angelbladex opened #46 "Instructions for compile failed: always compile for UnitySystemTray"
Hi!
Add support unity generated problems for Unity non-users. I tested compile without directory libs and work.

![error](https://cloud.githubusercontent.com/assets/847922/3460249/37d80db8-0215-11e4-85c5-3f9c12cfcab2.png)

A possible solution is check if user use Unity , if dont use Unity , dont use directory libs.

Pd: I don't have update my installed version yet , but can show this image
![20140

[2014-07-03 11:48] jonnius opened #47 "Does not connect"
I installed Sigram but it is just showing "Connecting" and nothing else happens. I even have not been asked for my phone number or something else.

[2014-07-05 16:06] tanwald opened #48 "rsa_load_public_key: No such file or directory"
When I try to launch the application I get the following:

$ /opt/Sigram/bin/Sigram
rsa_load_public_key: No such file or directory
qthreadExitRequest 1
Segmentation fault (core dumped)

Built with:
- 0204cc6 Change build steps & 80eb4e1 0.5.5.2 Version
- 3.14.9-200.fc20.x86_64

[2014-07-09 10:04] realbardia commented on #48
There is a file in the source tree. tg-server.pub
Copy this file in the binary directory

[2014-07-09 10:05] realbardia commented on #47
What is your linux distribution? and system architecture?

[2014-07-09 10:07] jonnius commented on #47
Ubuntu Gnome 14.04, 64-bit.

[2014-07-09 10:08] realbardia commented on #46
Yes... we should make smart build system that set unityplugins as optional.

[2014-07-09 10:09] #7 closed, assigned to realbardia

[2014-07-09 10:09] realbardia commented on #33
Fixed in the last binary packages

[2014-07-09 10:09] #33 closed, assigned to realbardia

[2014-07-10 15:31] silberzwiebel opened #50 "(german) string in user preferences get cut"
see this screenshot:

![auswahl_014](https://cloud.githubusercontent.com/assets/4533862/3540862/2205b4b2-0847-11e4-9a5a-c034966c3f04.png)

(in english its "disable all notifies"). Even by resizing the window the string sticks to the left.

[2014-07-10 15:33] silberzwiebel opened #51 "'fi' is not printed"
see screenshot:

![auswahl_015](https://cloud.githubusercontent.com/assets/4533862/3540907/893700f0-0847-11e4-8e0b-5f940b29f581.png)

since I know it is correct in the translation file, it seems some graphical issue...

[2014-07-11 02:16] sl1pkn07 commented on #46
related https://github.com/sialan-labs/sigram/issues/44 and fixed

[2014-07-11 19:26] silberzwiebel opened #53 "another (german) string gets cut"
Use German as language, Click "Add Chat", string is cut:
![auswahl_013](https://cloud.githubusercontent.com/assets/4533862/3557569/186ffee0-0931-11e4-8bf6-5fe96f4a465a.png)

[2014-07-11 19:55] realbardia commented on #53
I will fix it on next release... thank you for reporting.

[2014-07-11 19:56] realbardia commented on #51
Yes... This is render bug. I think it is qt5 bug.

[2014-07-12 20:14] hedayat opened #54 "Cannot type Persian in Sigram!"
Hi!
Thank you for this application. I tried it under Gnome shell. I am able to successfully log-in into Telegram, but I cannot type in Persian in it. I do change my keyboard layout to Persian, and I can type in Persian in other applications but in Sigram, it always types in English while the keyboard indicator shows 'fa' as the active keyboard layout.

Thanks again

[2014-07-12 20:18] hedayat commented on #54
I forgot to mention that I'm using Gnome Shell 3.10 under Fedora 20, which uses IBus for input. It is really weird to see this happens! I wonder what is wrong.

[2014-07-14 11:51] realbardia commented on #54
Hi...
There was a bug like this between Qt5 or IBus on some systems. Please check another Qt5 applications like QtCreator or Viber.
I think it is Qt5 or IBus bug.

[2014-07-14 18:56] hedayat commented on #54
Oops, yes you are right. I tried another Qt5 QML application and faced the same issue. :(

[2014-07-15 02:57] hedayat commented on #54
Well, I updated to Qt 3.5.1 and now the issue is fixed! :P

A side note (sorry that it is not related to this topic): it is really weird that qt-creator is listed as a dependency for siagram compilation on Fedora. I'm almost sure that qt-creator does not contain anything needed to compile Qt applications. (And actually, qt-creator in Fedora 20 is compiled against Qt4 rather than Qt5).

[2014-07-15 02:57] #54 closed, assigned to realbardia

[2014-07-15 03:06] realbardia commented on #54
It's good...

Aw!!!
Thank you for reporting. Yes it's not compile dependency.
Fixed :)

[2014-07-16 11:13] qgadrian opened #55 "App indicator GTK2"
Sigram works fine with GTK3 (tried with Cinnamon) but no app indicatorn it's shown at Mate using GTK2.

Don't know if it's my fault, maybe I'm missing something.

Thank you.

[2014-07-17 00:25] hedayat opened #56 "Feature Request: Please add RightToLeft text support"
Currently Sigram doesn't support showing RTL sent/received messages (It shows them in LTR direction). It would be nice if Sigram shows RTL texts in RTL (it already works in message compose box where we type our own messages).

[2014-07-17 00:30] hedayat opened #57 "Sigram Crashed"
I used Sigram for some time and it has crashed twice while I was typing (in Persian) and at the same time I was receiving some texts in a group chat. Sigram crashed with this assertion failure:

Sigram: telegram/telegram_cli/mtproto-client.c:1630: process_rpc_message: Assertion `!(enc->msg_len & 3) && enc->msg_len > 0 && enc->msg_len <= len - MINSZ && len - MINSZ - enc->msg_len <= 12' failed.

[2014-07-17 09:42] #48 closed, assigned to realbardia

[2014-07-17 09:44] realbardia commented on #45
Hi...
No... There is no standard way to connect trough proxy currently.
We will porting from telegram_cli to new libraries (libqtelegram). libqtelegram support proxy :)

[2014-07-17 09:44] #45 closed, assigned to realbardia

[2014-07-17 09:48] realbardia commented on #57
I think it is telegram_cli project bug. Anyway I will check and try to fix it.
We will porting to libqtelegram libraries that is different from telegram_cli. It will fix many of sigram bugs.

[2014-07-17 09:52] realbardia commented on #56
Qt and Qml objects supports RTL and LTR by default.
Maybe I did something wrong in the source code. I will fix it soon.
Thank you for reporting.

[2014-07-17 09:54] realbardia commented on #55
Sigram was not tested on mate before. Thank you for reporting.
We will fix it soon.

[2014-07-17 10:12] realbardia commented on #56
Fixed :)

[2014-07-17 13:05] #56 closed, assigned to realbardia

[2014-07-22 19:00] realbardia commented on #53
Fixed

[2014-07-22 19:00] #53 closed, assigned to realbardia

[2014-07-22 19:01] realbardia commented on #50
Fixed

[2014-07-22 19:01] #50 closed, assigned to realbardia

[2014-08-03 15:28] oromay opened #61 "Hotkeys in non Latin layout"
To help you to improve this already very nice app I would like to report that hotkeys (ctrl + c/v/a, etc) are not working while typing in Russian. My system is ubuntu 14.04, 64.

[2014-08-04 16:00] luisalvarado opened #62 "MD5 Checksum Failed when Installing through Ubuntu Software Center"
Using version sigram_0.6.2-1-amd64 when I try to install it (GUI Style) through the Ubuntu Software Center on Ubntu 14.04.1 I get the following:

![screenshot from 2014-08-04 09 57 50](https://cloud.githubusercontent.com/assets/29236/3799716/62703f7e-1bf0-11e4-8725-4306e1955198.png)

It is possible to avoid the warning through the terminal but this will look like a security problem or package is c

[2014-08-06 21:41] varlesh opened #63 "Russian Translate"
[code]

[2014-08-08 17:43] Choochmeque opened #64 "[Feature Request]: Windows port"
It would be great to have Windows port of Sigram.

[2014-08-10 05:59] realbardia commented on #64
Yes... Currently Sigram using telegram-cli and It can't porting to windows.
But we are porting sigram to the libqtelegram. After that we will porting to windows.
Thank you :)

[2014-08-10 06:01] realbardia commented on #63
Thank you.
Added :)

[2014-08-10 06:01] #63 closed, assigned to nobody

[2014-08-10 06:02] realbardia commented on #62
Yes... last package of sigram has some problems.
We will fix it in the next version.
Thank you for reporting.

[2014-08-10 06:05] realbardia commented on #61
Thank you.
I think it is Qt5 bug. Shortcut keys are not working on another Qt5 apps.
Thank you for reporting.
Anyway, We'll try to fix it in another way.

[2014-08-10 10:22] varlesh opened #65 "Not showing text on settings window"
In Russian translate not show in settings window, but other windows show text.
Other locales show text in settings window and other windows.
Maybe I made ​​a mistake somewhere?
Ubuntu 14.04 Unity
![2014-08-10 14 16 46](https://cloud.githubusercontent.com/assets/8083855/3869024/fa2172bc-2077-11e4-8946-8b9286ffc84c.png)
And error:

[code]

[2014-08-10 17:04] Choochmeque commented on #64
BTW, you can count on me in this ft. req. =)

[2014-08-11 18:49] realbardia commented on #65
Thank you for reporting.
We'll fix it soon.

[2014-08-11 20:35] Choochmeque commented on #37
The main reason is:
void TelegramThread::_contactFounded(const UserClass &contact)

[code]

So, I think, that's why your user info and avatar doesn't show.

[2014-08-11 20:40] Choochmeque opened #67 "[Question]: What should happen on press "configure" button at the top of chat view?"
So, logicaly, it have to show user information of the selected contact, but it's not working now.

[2014-08-13 19:09] Choochmeque opened #70 "[Bug]: Impossible to send files with space in filename"
Steps to reproduce:
- Select file with space in filename (i.e. Star Track.mp4) and send it.

Obtained result: Nothing happens.

P.S.
Pls, assign this issue on me =)/

[2014-08-15 10:23] hedayat commented on #57
Have you tried anything to fix this issue? I have not seen this problem recently (I'm using the git version).

[2014-08-15 10:27] hedayat opened #71 "Don't see photos of people in my conversations"
Hi,
I've a number of contacts (well, I've never added anyone as contacts but I have conversations with them so they appear in the left pane), but their photoes are not being shown. I only see the photo of a single group I'm member of. But I'm able to see their photoes in other clients (e.g. tdesktop which can be considered a competitor for sigram now).

[2014-08-15 14:41] Choochmeque commented on #71
Can you please check this issue with my fork? Hope, i fixed it.

[2014-08-15 17:26] b0skor opened #72 "[Feature Request]: Russian translations"

[2014-08-15 17:40] #72 closed, assigned to nobody

[2014-08-15 21:10] hedayat commented on #71
Tried your fork. I can see my own photo, but not my peers!

[2014-08-16 07:32] Choochmeque commented on #71
Is there any avatars in folder ~/.config/sialan/telegram/downloads?

[2014-08-16 07:34] hedayat commented on #71
Yes, mine and the avatar of the group that I mentioned. Nothing else.

[2014-08-16 07:55] Choochmeque commented on #71
I think, the main reason in this "I've never added anyone as contacts but I have conversations with them", because

telegramthread.cpp

<code>
void TelegramThread::loadUserInfo(int userId)
{
    if( !p->contacts.contains(userId) ) <--- this line doesn't allow get user information for non-added contacts
        return;
</code>

I don't know is it by design or not lol =)

[2014-08-16 08:02] realbardia commented on #71
It's beacuse telegram-cli limits...
We are porting sigram to libqtelegram wich is better than telegram-cli.
But I'll try to fix it on our master branch soon.

[2014-08-16 08:04] realbardia commented on #67
Configure button shows your profile informations and settings.
Thank you for reporting.
We'll fix it soon.

[2014-08-16 08:08] hedayat commented on #71
Thanks. It's unfortunate that there is no proper C/C++ API for Telegram. BTW, are you sure that libqtelegram doesn't have such problems? They have started from telegram-cli too, I wonder if they have filled the missing parts.

[2014-08-16 08:48] coquec opened #73 "Sigram doesn't display Emoji characters in groups' names"
When Emoji characters are used in the name of a group, Sigram displays them as rectangles.

[2014-08-16 18:37] coquec commented on #73
Solves issue #73.

[2014-08-17 07:17] realbardia commented on #57
No... I dont know why. But maybe a system update fixed this bugs...

[2014-08-26 04:34] b0skor opened #75 "Error of the day name in russian localisation"
Hello! Thanks for great work!
On previous version of Sigram (0.6.x) and now (0.7.0) names of the days is incorrect
![5](https://cloud.githubusercontent.com/assets/7861397/4040031/fd29897c-2cd9-11e4-96c1-4f17e14195ed.png)
i don't know what is this language, but it's cyrillic layout with additional symbols

[2014-08-26 04:36] b0skor commented on #75
Sorry, but it is not names of the days, it is names of the month.
там = авг (август) - august
шiл =  июл (июль) - july

[2014-08-26 07:33] pntkrtr commented on #45
Hello, I installed sigram 0.7.0 working in debian jessie and I am very interested in the connection via proxy (the future port to new librarie llbqtelegram) because the program starts, but goes into a closed loop that fails.
Meanwhile I will continue using telegram through wine. Thank you very much for your work.

[2014-09-11 19:27] eskuai opened #76 "fedora 20 , failed nv-glx and nouveau .."
Hello,

Trying to run Sigram, all process was ok, but failed to run
I am not installed nvidia drivers... nouveau instead ...

darkstar build]$ ./Sigram
Xlib:  extension "NV-GLX" missing on display ":0.0".
Xlib:  extension "NV-GLX" missing on display ":0.0".
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Xlib:  extension "NV-GLX" missing on dis

[2014-09-22 20:22] rugebiker opened #77 "[request] Start sigram minimized to system tray"
Hi, this is a request I think it would be really useful, specially if you want sigram to start when the computer boots. It is a bit annoying to start the computer and see the sigram window being openned, so it would be a better idea to have an option to start sigram minimized to the system tray (:
thanks a lot!

(using fedora)

[2014-09-23 06:29] realbardia commented on #77
Hi...
Currently sigram use last state. If sigram close on systray, next time you open it, window will hide and if close when window is visible, next time window will show.
But it's good suggest.
We'll add a feature to turn of automatic mode and set it manualy.
Thank you

[2014-10-01 19:24] jonnius opened #78 "Tray Icon in Unity at wrong place"
With Ubuntu Unity the tray icon is overlaying the window buttons instead of beeing displayed in the notification area as shown in the attached picture.

![sigram problem](https://cloud.githubusercontent.com/assets/4456588/4481488/71426dd2-49a0-11e4-806a-ed5c0d907c2c.png)

[2014-10-01 19:37] realbardia commented on #78
Hi
What is version of ubuntu, you use? Please check libappindicator1 package is installed or not?
Also please check, UnitySystemTray plugin is loaded or not?
cat /proc/[Sigram PID]/maps | grep UnitySystemTray
Thank you...

[2014-10-01 20:42] jonnius commented on #78
It is Ubuntu 14.04. Installing libappindicator1 solved the problem. Thanks!

[2014-10-01 20:42] #78 closed, assigned to realbardia

[2014-10-12 22:22] jonnius opened #79 "Problem with groups with same name"
When I am member of two groups with the same name, all my messages to one of these is sent to the other group.

[2014-10-13 20:07] realbardia commented on #79
Hi
Thank you for reporting. We'll fix it on next release...

[2014-10-13 23:38] sergioad opened #80 "Sigram integration with kfilechoser and gnome-filechoser"
Hello all the Sigram and Sialam labs team I am here to ask you add kfilechoser / gnome-filechoser integration with Sigram to make the file uploads more confortable and native to your used desktop, Also this will make Sigram better if it is posible I will like see it on the next release,

[2014-10-15 20:01] ghost opened #81 "Ubuntu DEB 0.7.1 for AMD64 is invalid"
[code]

[2014-10-15 20:19] realbardia commented on #81
Hi...
Thank you for reporting. we'll fix it soon.
If you're using ubuntu, you can using our launchpad ppa also.
https://launchpad.net/~sialan/+archive/ubuntu/desktop

[2014-10-15 20:21] realbardia commented on #80
Hello
It's good idea. We'll try to add kfilechooser and gnome-filechooser support to sigram in the next releases.
Thank you

[2014-10-16 12:47] sergioad commented on #80
Thanks to you :)

[2014-10-18 20:52] jonnius commented on #47
Does not appear any more

[2014-10-18 20:59] jonnius opened #82 "Connection problems after connection was quit by other device"
If I quit all connections from my phone, Sigram won't react properly when startet the next time. It should recognize this and ask for the phone number again for authentification. But it just tries to connect forever.

[2014-10-19 12:46] jonnius commented on #82
A workaround is to delete sialan folder (~/.config/sialan) and reboot computer (why that?!).

[2014-10-22 14:06] bilelmoussaoui opened #84 "Support for Ubuntu 14.10 Utopic ppa"
Hello,
i would like you to support the last ubuntu 14.10 on your official ppa so i could receive the last updates...

Thank you so much!

[2014-10-22 18:20] nicklan opened #86 "Background should scale to window size"
Currently the background seems to simply display at it's actual size.  It should scale to the size of the window (or at least have an option to have this be the behaviour).

[2014-10-22 20:36] realbardia commented on #84
Hello...
I'll add ubuntu 14.10 packages to PPA soon.

[2014-10-22 20:37] realbardia commented on #86
Hi...
Thank you for reporting.
I'll fix it soon.

[2014-10-23 11:11] ghost opened #87 "[BUG] Images sent in group are set as avatar image"
Hello.

When someone in a group send an image is set as avatar image for other contacts who hasn't any avatar.

[2014-10-24 13:55] realbardia commented on #84
Done

[2014-10-24 13:55] #84 closed, assigned to realbardia

[2014-10-26 10:13] jonnius opened #88 "Tray Icon deformed at start (Gnome)"
After I start Sigram, the try icon is deformed as shown at picture with a big white area arround it. Once it double click it, it is shown correctly.
![sigram](https://cloud.githubusercontent.com/assets/4456588/4782522/b3a258fc-5cf8-11e4-889e-553ff11cb11e.png)

[2014-10-30 07:54] realbardia commented on #88
What is your distro and desktop environment?

[2014-10-30 07:55] realbardia commented on #87
Hi
Yes... I saw this bug. this telegram-cli bug.
We are porting sigram to libqtelegram from telegram-cli. I hope it will fix bugs like this.
Thank you for reporting.

[2014-10-30 09:15] jonnius commented on #88
Ubuntu Gnome 14.04 with Gnome 3.10.

[2014-10-30 13:58] midi opened #90 "crash on startup ubuntu gnome 14.10"
sigram crashes for me under 14.10.

when i start it, i see an invisible tray icon then i click right and select show, then the invisible icon disappears.

do you need logs, how can i get them?

[2014-10-31 12:40] meahmadi opened #91 "Sigram For N900, Maemo"
Thanks for your best try,
is it possible to release a version for maemo/n900 with all dependencies included?

[2014-10-31 14:53] realbardia commented on #91
Sigram user interface is not optimized for maemo and mobile devices.
We are currently porting sigram to libqtelegram. After it, we can porting sigram to maemo and other mobile devices.

[2014-10-31 14:55] realbardia commented on #90
Hi
Yes... Please send me console output.
Thank you

[2014-10-31 21:58] ghost commented on #87
Thank you for replying

[2014-11-06 21:45] nikwen commented on #91
An Ubuntu Touch client would be nice as well. :)

[2014-11-07 12:18] realbardia commented on #86
I check it. Background image scales to window size now.

[2014-11-07 12:18] #86 closed, assigned to realbardia

[2014-11-07 12:20] realbardia commented on #73
Fixed

[2014-11-07 12:20] #73 closed, assigned to nobody

[2014-11-07 12:22] #67 closed, assigned to nobody

[2014-11-07 12:22] realbardia commented on #62
Fixed

[2014-11-07 12:22] #62 closed, assigned to realbardia

[2014-11-07 12:24] realbardia commented on #61
https://bugs.launchpad.net/ubuntu/+bug/1299474
This is the bug on launchpad.

[2014-11-07 12:24] #61 closed, assigned to realbardia

[2014-11-07 12:25] realbardia commented on #46
Fixed :)

[2014-11-07 12:25] #46 closed, assigned to realbardia

[2014-11-11 13:07] midi commented on #90
Nov 11 22:00:58 machine kernel: [11795.279786] Sigram[12892]: segfault at 8 ip 00007f62729e6490 sp 00007fffaaa0d4c0 error 4 in libQt5Gui.so.5.3.0[7f62728fc000+513000]
Nov 11 22:01:55 machine kernel: [11852.554232] sigram[14202]: segfault at 28 ip 00007f907100d490 sp 00007fff55b99a30 error 4 in libQt5Gui.so.5.3.0[7f9070f23000+513000]

is this enough, or do you want the .crash file?

[2014-11-11 22:43] Lazza opened #92 "Sigram uses proprietary emojis"
Currently Sigram uses the proprietary Apple font to display emoji characters. The license is unclear, but it should be considered proprietary unless proven otherwise. Fortunately, some days ago Twitter decided to open source their emojis collection: https://blog.twitter.com/2014/open-sourcing-twitter-emoji-for-everyone

I would like to suggest the switch to this set of open source emojis instead o

[2014-11-11 23:24] dottorblaster commented on #92
Definitely upvote for this, way better than blurry Applish emojis.

[2014-11-12 15:42] FedeDP commented on #77
I 'm experiencing a little bug: i'm using plasma 5.1 on archlinux, and
1) i have no systray icon, that leads to 2)
2) i can only close Sigram by killing it. And, what's worse, if I leave it "closed" in my systray, every time i start it, it won't be visible.
I think this feature request is similar to the one above: either add a switch to let users choose whether Sigram should start visible or not,

[2014-11-13 15:06] ghost commented on #92
I like the idea and I think the Twitter emojis fit better in Sigram's desing

[2014-11-13 16:01] sergioad commented on #92
Or using the Google emojis?

[2014-11-13 16:11] KAMiKAZOW commented on #92
Why does an application ship its own Emoji anyway? Emoji are just Unicode characters that should be provided by the system's fonts. IMO Sigram's package should just require "gdouros-symbola-fonts". End of story.

[2014-11-13 16:26] Lazza commented on #92
Linux does not support colored fonts. You can use Google's black and white emojis or Symbola, but both are inadequate. Those in Symbola, especially, are quite ugly so not an option.

[2014-11-13 20:35] KAMiKAZOW commented on #92
Then fix FreeType to support color emoji and whatever users find an option is up to them.

[2014-11-14 15:09] sa2ajj opened #93 "It would be nice if the version of required Qt is specified"
For both Ubuntu and Fedora only package names are listed, however the things are a bit different from a release to release.

So I'd suggest that the required version of Qt is explicit as well as for what version of Ubuntu and Fedora the instructions work.

[2014-11-14 15:30] KAMiKAZOW commented on #93
Fedora never shipped an incompatible Qt5 version, so no.

[2014-11-14 15:35] sa2ajj commented on #93
Incompatible in what sense?

Qt5 can refer to a range of different versions and there're subtle differences in functionality and in packaging (I can't really talk for Fedora, while I have certain experience w/ Ubuntu and Debian).

[2014-11-14 15:54] KAMiKAZOW commented on #93
Qt5 versions so old that Sigram does not run on them were never shipped by Fedora. Not only that but over the course of Fedora 20's release cycle (F19 did not include Qt5) there were several new Qt5 versions shipped as update.
Therefore requiring a specific Qt5 version makes zero sense under Fedora.

[2014-11-14 16:09] sa2ajj commented on #93
Maybe for Fedora.

For Debian/testing I had to modify the package list:

[code]

[2014-11-16 20:12] realbardia commented on #92
Thanks for this suggestion. This emoticons is so beautiful.
Sigram support emojis theme in the base currently. Just I should make a good user interface and menu for this feature.
I will add twitter emoticons and another emoticons theme in the next version. (Soon)
Thank you :)

[2014-11-16 20:19] Lazza commented on #92
That's great, thanks. :smile: Does it mean that they will be added along the Apple ones, or will they replace those? Regarding the Apple emojis, did Apple authorize their use into Sigram?

Another (small) caveat is that some Twitter emojis, such as :curly_loop:, use precisely the same gray color as the background of the emojis menu. I think you should change it a little bit.

[2014-11-16 20:27] realbardia commented on #93
Hi...
Because of 2 below reasons:
1) We ship Qt5 with packages because of compability on many distros. Many distros don't support Qt5.2 yet.
2) I know it's bad. But currently We haven't enough person in our team to make packages for all distros and for all of Sialan projects. I hope we can solve this problem in the future.

[2014-11-17 10:50] sa2ajj commented on #93
@realbardia you mention Qt5.2 here, and that the main point of my ticket: please include this information in the README file.

[2014-11-22 13:46] ied206 opened #95 "Unable to write Korean in Linux Mint 17"
I'm using Linux Mint 17 and nabi, Korean XIM (https://github.com/choehwanjin/nabi).
However, while using Ubuntu 64bit .deb file to use sigram, I am unable to write any Hangul, Korean character. It is known as Qt5 bug, and every application using Qt5 on Ubuntu 14.04+ is affected.

It is known that setting Qt's environment variable QT_IM_MODULE to ibus or nabi, Hangul writing is enabled, but I am no

[2014-11-23 21:23] realbardia commented on #92
Twitter emoji added to Sigram-One branch. Also apple emoji removed from project and Twitter emoji is our default emoji icons now.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:24] realbardia commented on #90
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:24] #90 closed, assigned to realbardia

[2014-11-23 21:24] realbardia commented on #87
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:24] #87 closed, assigned to realbardia

[2014-11-23 21:24] realbardia commented on #82
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:24] #82 closed, assigned to realbardia

[2014-11-23 21:24] realbardia commented on #80
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:24] #80 closed, assigned to realbardia

[2014-11-23 21:24] dottorblaster commented on #92
This is A-MA-ZING @realbardia, thank you for your support and for this great news! \o/

[2014-11-23 21:25] realbardia commented on #79
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:25] #79 closed, assigned to realbardia

[2014-11-23 21:25] realbardia commented on #76
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:25] #76 closed, assigned to nobody

[2014-11-23 21:25] realbardia commented on #71
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:25] #71 closed, assigned to realbardia

[2014-11-23 21:25] realbardia commented on #70
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:25] #70 closed, assigned to nobody

[2014-11-23 21:26] realbardia commented on #65
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:26] #65 closed, assigned to realbardia

[2014-11-23 21:27] realbardia commented on #64
It is possible to port Sigram to windows and OSX now.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:27] realbardia commented on #57
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:27] #57 closed, assigned to realbardia

[2014-11-23 21:27] realbardia commented on #51
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:27] #51 closed, assigned to realbardia

[2014-11-23 21:27] realbardia commented on #47
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:27] #47 closed, assigned to realbardia

[2014-11-23 21:27] realbardia commented on #39
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:27] #39 closed, assigned to realbardia

[2014-11-23 21:28] realbardia commented on #37
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:28] #37 closed, assigned to realbardia

[2014-11-23 21:28] #35 closed, assigned to realbardia

[2014-11-23 21:29] realbardia commented on #22
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:29] #22 closed, assigned to realbardia

[2014-11-23 21:29] realbardia commented on #25
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:29] #25 closed, assigned to realbardia

[2014-11-23 21:29] realbardia commented on #26
Fixed on Sigram-One branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:29] #26 closed, assigned to realbardia

[2014-11-23 21:32] realbardia commented on #95
Hi.
I'll do my best to fix this bug on sigram-one branch.
Sigram One is next sigram, based on libqtelegram and completely rewriten.
It will release soon :)

[2014-11-23 21:58] Lazza commented on #92
This is awesome! :smile: Thank you @realbardia.

[2014-11-23 21:59] #92 closed, assigned to realbardia

[2014-11-24 15:28] ghost commented on #87
Thank you so much. You're awesome.

[2014-11-24 17:38] sl1pkn07 opened #97 "Sigram-one fail build"
g++ -c -pipe -march=x86-64 -mtune=generic -O2 -pipe -fstack-protector-strong --param=ssp-buffer-size=4 -Wall -W -D_REENTRANT -fPIE -DSIALAN_NOTIFICATION -DQT_NO_DEBUG -DQT_QUICK_LIB -DQT_QML_LIB -DQT_WIDGETS_LIB -DQT_DBUS_LIB -DQT_SQL_LIB -DQT_NETWORK_LIB -DQT_GUI_LIB -DQT_CORE_LIB -I/usr/lib/qt/mkspecs/linux-g++ -I../../Sigram -isystem /usr/include/libqtelegram -isystem /usr/include/qt -isystem /

[2014-11-24 19:02] realbardia commented on #97
Hi
You should build and install libqtelegram before building sigram.
`bzr branch lp:libqtelegram`
`cd libqtelegram`
`./build.sh`
`cd build && make install`

[2014-11-24 19:34] sl1pkn07 commented on #97
where i can get the module "thumbnailer" for build libqtelegram?

greetings

[2014-11-24 20:18] realbardia commented on #97
libthumbnailer-dev and libmediainfo-dev packages.
If you are using ubuntu, install it using this command:
`sudo apt-get install libthumbnailer-dev`
and for mediainfo:
`sudo apt-get install libmediainfo-dev`

[2014-11-24 20:19] sl1pkn07 commented on #97
the problem is I not use ubuntu, use arch

thanks for the info

greetings

2014-11-24 21:18 GMT+01:00 Bardia notifications@github.com:

[2014-11-24 20:32] sl1pkn07 commented on #97
sigh, thumbnailer use gstreamer

I'll leave the project

thanks for all

[2014-11-26 01:21] ied206 commented on #95
Thank you :-)

[2014-11-26 18:39] Choochmeque commented on #64
When will it release? )

[2014-11-26 21:02] realbardia commented on #64
End of December :)

[2014-11-26 22:35] varlesh commented on #65
Thx :+1: )

[2014-12-06 16:24] TotalKrill commented on #77
Yeah would like this too, since then i would be able to autostart it along with my desktop.

Also i am experienceing the same problem that FedeDP is having, also on arch.

[2014-12-09 13:22] Ex2nd opened #99 "Sigram-one fail build problem"
Hi

I tried to build Sigram One, but I got an error. Not prompt in what could be the problem. I also installed the library libqtelegram.

/Sigram/telegramqml.cpp:575: error: no matching function for call to 'Telegram::messagesSendMessage(InputPeer&, const QString&)'
     qint64 sendId = p->telegram->messagesSendMessage(peer, msg);
                                                               ^

/

[2014-12-09 21:50] ghost opened #100 "OpenStreet Maps support"
It would be a exciting freature adding OpenStreet Maps into Sigram to know where is your friend's party or even send your own location if your PC can.

Why better OpenStreet Maps than Google Maps? Because OSM is free, open and driven by the community

Thank you.

[2014-12-10 08:35] realbardia commented on #99
Hi...
It's because libqtelegram api changed.
Sigram updated now. you can pull last commits and build again.
Sigram One is next version of Sigram. It will release soon :)

[2014-12-10 08:35] #99 closed, assigned to realbardia

[2014-12-11 09:36] abev66 commented on #29
same here.

[2014-12-12 09:57] ghost opened #101 "Image notification"
Hi, the notifiactions are set to shows the profile pic in the original resolution (?) and it takes the half of the screen. Is there a way to resize the picture or even to disable just the image?

Thanks.

[2014-12-18 18:30] midi commented on #90
when will get one branch get pushed to the ppa?

thank you!

[2014-12-19 09:40] LenzGr opened #102 "HTML update notification is not rendered"
I installed sigram from the official Ubuntu PPA. Upon startup, it informs me that a new update is available, but the window displays some HTML code instead of the release notes. Seems like the HTTP code used to fetch that page does not honor HTTP redirects?

![sigram_002](https://cloud.githubusercontent.com/assets/263427/5502508/644c8ca8-876b-11e4-89dd-6fc2d0d9c8b1.png)

[2014-12-19 09:40] LenzGr commented on #102
Also, if an update is available, I would expect the PPA to be up to date as well...

[2014-12-20 10:13] siiikooo0743 opened #103 "Update page most links 404"
Hi,

i just followed the kink in the siagram client to this page:
http://labs.sialan.org/projects/sigram
Then i wanted to download the Ubuntu Version "0.7.1 i386" and i got a 404 Error with this URL:
http://www.sialan.org/sigram_0.7.1-1-i386.deb

I tryed all other downloads and these didn't work:

Ubuntu - 0.7.1 amd64
Ubuntu - 0.7.1 i386
Linux - 0.7.1 x64
Linux - 0.7.1 x32

-siiikooo0743

[2014-12-21 07:31] hydrosIII opened #104 "Feature request: Add support for secret chats"
These would be very good, since not even the telegram desktop app has support for secret chats.
Telegram-cli in linux has support for these type of chats..

[2014-12-24 18:46] varlesh commented on #81
Not working on Kubuntu 14.04.
SIgram 0.7.1 on ppa.
LOG:
sigram
QQmlApplicationEngine failed to load component
qrc:///main.qml:19 module "QtQuick" is not installed
qrc:///main.qml:20 module "QtQuick.Window" is not installed
qrc:///main.qml:19 module "QtQuick" is not installed
qrc:///main.qml:20 module "QtQuick.Window" is not installed

dpkg --get-selections | grep libqt5
libqt5core5a:amd64

[2015-01-03 22:33] jonnius opened #105 "Sigram does not start at Ubuntu Gnome 14.04"
Sigram crashes at start with error message:

QQmlApplicationEngine failed to load component
qrc:///main.qml:19 module "QtQuick" is not installed
qrc:///main.qml:20 module "QtQuick.Window" is not installed
qrc:///main.qml:19 module "QtQuick" is not installed
qrc:///main.qml:20 module "QtQuick.Window" is not installed

[2015-01-04 20:42] cpu82 commented on #103
If I recall correctly last time I checked it was on November, but same problem here :(

[2015-01-11 17:51] prinsherbert opened #106 "Failed to configure"
After installing (using qmake, make and make install into /usr, like stated in README.md) I had to copy tg-server.pub to /usr/bin for sigram to start without a segmentation fault:

sudo cp sigram/build/build/tg-server.pub /usr/bin/

However, I am not able to configure Sigram. The tray icon appears, and I can open the window as shown in the screenshow. However, when I select "configure" from the tr

[2015-01-11 17:52] prhbrt commented on #106
PS: the same goes for "about", "about sialan", "donate" and "license".

[2015-01-13 01:05] WolfangAukang commented on #81
Hello everybody. I will send a list of commands I've used to solve this problem above on Xubuntu/Lubuntu 14.04.1 (from freeniki):

sudo apt-get install qtdeclarative5-qtquick2-plugin
sudo apt-get install qtdeclarative5-window-plugin

Not sure if it will work on the main issue though

[2015-01-13 01:05] WolfangAukang commented on #105
Try installing these:
sudo apt-get install qtdeclarative5-qtquick2-plugin
sudo apt-get install qtdeclarative5-window-plugin

[2015-03-09 13:42] angelbladex opened #107 "Add contacts via username"
Hi!
Sigram dont have a via for add contacts  with username as web version.

[2015-03-09 13:44] angelbladex opened #108 "Missing photo when contact isn't at contact list"
I have some convertations on Telegram via web version. I dont have some cotact add to my contact list but i can view avatar images. On Sigram, this image is missing.

[2015-03-20 03:02] Magicloud opened #109 "Unable to run after building in Ubuntu 14.04"
[code]

[2015-06-13 01:00] #108 closed

[2015-06-13 01:00] #107 closed

[2015-07-09 19:30] borjiviri opened #110 "Secret chats stored in the filesystem in plaintext"
# secret chats stored in plaintext
I think that storing the secret chats in plaintext is just missing the point what is Telegram about. Please do not store secret chats on the filesystem, or if stored, use the encryption keys of the conversations. Also it would be a good idea to have an config option to allow (or deny) to store the public & secret chats

Evidence:
1.- Open a secret chat with a fri

[2015-07-09 19:30] #110 closed

[2015-07-09 19:31] libcrack commented on #110
lol I just selected the from repo. This is for cutegram (I hope you don't store also the secret chats in plaintext :-P)

[2015-08-15 10:25] volkerbradley opened #111 "Not connecting"
When I first ran the application from the terminal, I saw:
rsa_load_public_key: No such file or directory
qthreadExitRequest 1
Segmentation fault (core dumped)
I copied the ~/sigram/Sigram/tg-server.pub /usr/bin
Now w
![sigram](https://cloud.githubusercontent.com/assets/1382013/9288465/2ec02aec-4316-11e5-89d6-24a05411245d.png)
hen I give the Sigram command in the terminal, I see:
qrc:///Button.qml

[2015-12-29 12:01] psotiropoulos opened #112 "ar"

[2015-12-29 12:02] #112 closed

[2016-07-15 23:09] Arch-Lover commented on #91
hi!
a sailfish OS client would be excellent!
thnx

[2018-07-24 04:10] #105 closed

[2018-12-30 05:25] #104 closed, assigned to nobody

[2019-04-03 13:53] frmoronari commented on #111
I have the same problem but as the project is stopped I believe there will be no solution, unfortunately.

[2019-04-03 14:14] frmoronari commented on #111
i make symlink the /usr/bin/countries to ~/sigram/countries and make other symlink in flags directory to xx.png for 010.png and errors messages ended. but message in application "connecting..." don't finalize.

[2020-02-21 10:08] #97 closed